---
const today = new Date();
---

<footer>
  <div class="container">
    <p>© {today.getFullYear()} FuryForm.</p>
  </div>
</footer>
<style>
  footer {
    padding: 3rem 0 2rem;
    background: transparent;
  }
  footer p {
    width: 100%;
    margin: 0;
    color: rgb(var(--gray));
    text-align: center;
  }
</style>
